footer {
  min-height: 400px;
  width: 100%;
  background-color: #0eb493;
  color: #FFFFFF;
  border-top: 5px solid #000;
  position: relative;

  .footer__content {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;

    .footer__brandi {
      grid-column: 1/span 3;

      h2 {
        font-family: 'Pacifico', cursive;
        font-size: 28px;
        color: #fff;
        margin-bottom: 35px;
        @media #{ $info-tablet-vertical} {
          margin-bottom: 20px;
        }
      }

      p {
        font-size: 13px;
        line-height: 24px;
        @media #{ $info-tablet-vertical} {
          width: 50%;
        }
        @media #{$info-phone-1}{
          width: 100%;
        }
      }

      @media #{ $info-tablet-vertical}{
        grid-column: 1/span 12;
      }
      @media #{$info-phone-1} {
        grid-column: 1/span 6;
      }
    }

    .footer__subscribe {
      grid-column: 4/span 3;

      h2 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 40px;
        padding-top: 14px;
      }

      .subscribe-form {
        border: 2px solid #fff;
        border-radius: 2px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          border: none;
          background-color: unset;
          line-height: 40px;
          width: 75%;

          &:focus {
            outline: none;
          }
        }

        .fas {
          color: rgba(195, 198, 199, 0.6);
          font-weight: normal;
          margin-right: 10px;
          cursor: pointer;
        }

        @media #{$info-phone-1}{
          width: 100%;
        }
      }

      p {
        font-size: 13px;
        line-height: 24px;
      }

      @media #{ $info-tablet-vertical} {
        grid-column: 1/span 4;
      }
      @media #{$info-phone-1} {
        grid-column: 7/span 6;
      }
    }

    .footer__explore{
      grid-column: 7/span 3;

      h2 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 35px;
        padding-top: 14px;
      }

      table {
        tr {
          td:nth-child(1) {
            font-size: 13px;
            padding-bottom: 15px;
            padding-right: 20px;
            @media screen and (max-width: 1080px) {
              padding-right: 10px;
            }
            @media #{$info-phone-1}{
              padding-right: 60px
            }

          }

          td:nth-child(2) {
            font-size: 13px;
            padding-bottom: 15px;
          }
        }
      }

      @media #{ $info-tablet-vertical}{
        grid-column: 5/span 4;
      }
      @media #{$info-phone-1} {
        grid-column: 1/span 6;
      }

    }

    .footer__info {
      grid-column: 10/span 3;

      .footer__info-top {
        font-size: 13px;
        color: #FFFFFF;
        margin-top: 65px;
        padding-left: 10px;
        border-left: 1px solid #062033;

        span:nth-child(1) {
          color: #0b0b0b;
          font-weight: 600;

          .fas {
            color: #c3c6c7;
          }
        }

        span:nth-child(2) {
          color: #062033;
          font-weight: 600;
          font-size: 13px;
        }

        @media #{$info-phone-1}{
          margin-top: 50px;
        }
        @media #{$info-phone-2} {
          margin-top: 10px;
        }
      }

      .footer__info-bottom {
        padding-top: 60px;
        color: #062033;
        font-weight: 600;
        font-size: 13px;
        //white-space: nowrap;
        @media #{$info-phone-1}{
          margin-top: 10px;
        }
        @media #{$info-phone-2}{
          margin-top: 0px;
        }
      }

      @media #{ $info-tablet-vertical} {
        grid-column: 9/span 4;
      }
      @media #{$info-phone-1} {
        grid-column: 7/span 6;
      }
    }

    @media #{$info-phone-2}{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  @keyframes play {

    0% {
      transform: scale(1);
    }
    15% {
      box-shadow: 0 0 0 5px rgba(14, 180, 147, 0.4);
    }
    25% {
      box-shadow: 0 0 0 10px rgba(14, 180, 147, 0.4), 0 0 0 20px rgba(14, 180, 147, 0.2);
    }
    25% {
      box-shadow: 0 0 0 15px rgba(14, 180, 147, 0.4), 0 0 0 30px rgba(14, 180, 147, 0.2);
    }
  }


}