footer {
  min-height: 400px;
  width: 100%;
  background-color: #0eb493;
  color: #FFFFFF;
  border-top: 5px solid #000;
  position: relative;

  .footer__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;

    .footer__brandi {
      grid-column: 1/span 3;

      h2 {
        font-family: 'Pacifico', cursive;
        @include font-size(28px);
        color: #fff;
        margin-bottom: 35px;
        @media #{ $info-tablet-vertical} {
          margin-bottom: 20px;
        }
      }

      p {
        @include font-size(13px);
        line-height: 24px;
        @media #{ $info-tablet-vertical} {
          width: 50%;
        }
        @media #{$info-phone-1}{
          width: 100%;
        }
      }

      @media #{ $info-tablet-vertical}{
        grid-column: 1/span 12;
      }
      @media #{$info-phone-1} {
        grid-column: 1/span 6;
      }
    }

    .footer__subscribe {
      grid-column: 4/span 3;

      h2 {
        @include font-size(14px);
        font-weight: 600;
        margin-bottom: 40px;
        margin-top: 14px;
      }

      form {
        border: 2px solid #fff;
        border-radius: 2px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          border: none;
          background-color: unset;
          line-height: 40px;
          width: 75%;

          &:focus {
            outline: none;
          }
        }

        .fas {
          color: rgba(195, 198, 199, 0.6);
          font-weight: normal;
          margin-right: 10px;
          cursor: pointer;
        }

        @media #{$info-phone-1}{
          width: 100%;
        }
      }

      p {
        @include font-size(13px);
        line-height: 24px;
      }

      @media #{ $info-tablet-vertical} {
        grid-column: 1/span 4;
      }
      @media #{$info-phone-1} {
        grid-column: 7/span 6;
      }
    }

    .footer__explore {
      grid-column: 7/span 3;

      h2 {
        @include font-size(14px);
        font-weight: 600;
        margin-bottom: 35px;
        margin-top: 14px;
      }

      table {
        tr {
          td:nth-child(1) {
            @include font-size(13px);
            padding-bottom: 15px;
            padding-right: 20px;
            @media screen and (max-width: 1080px) {
              padding-right: 10px;
            }
            @media #{$info-phone-1}{
              padding-right: 60px
            }

          }

          td:nth-child(2) {
            @include font-size(13px);
            padding-bottom: 15px;
          }
        }
      }

      @media #{ $info-tablet-vertical}{
        grid-column: 5/span 4;
      }
      @media #{$info-phone-1} {
        grid-column: 1/span 6;
      }

    }

    .footer__info {
      grid-column: 10/span 3;

      .info__top {
        @include font-size(13px);
        color: #FFFFFF;
        margin-top: 65px;
        padding-left: 10px;
        border-left: 1px solid #062033;

        span:nth-child(1) {
          color: #0b0b0b;
          font-weight: 600;
          .fas {
            color: #c3c6c7;
          }
        }

        span:nth-child(2) {
          color: #062033;
          font-weight: 600;
          @include font-size(13px);
        }

        @media #{$info-phone-1}{
          margin-top: 50px;
        }
        @media #{$info-phone-2} {
          margin-top: 10px;
        }
      }

      .info__bottom {
        margin-top: 60px;
        color: #062033;
        font-weight: 600;
        @include font-size(13px);
        @media #{$info-phone-1}{
          margin-top: 10px;
        }
        @media #{$info-phone-2}{
          margin-top: 20px;
        }
      }

      @media #{ $info-tablet-vertical} {
        grid-column: 9/span 4;
      }
      @media #{$info-phone-1} {
        grid-column: 7/span 6;
      }
    }

    @media #{$info-phone-2}{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }


}