header {
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;

  &:before {
    content: "";
    width: 100%;
    height: 70px;
    background-color: rgba(14, 42, 41, 0.5);
    position: absolute;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    height: 70px;

    &:before, &:after {
      display: none;
    }

    .navbar__left {
      display: flex;
      justify-content: space-between;
      align-items: center;


      .navbar-brandi {
        font-family: 'Pacifico', cursive;
        font-size: 28px;
        color: #fff;
        cursor: pointer;
      }

      .navbar-text {
        margin: 0 0 0 20px;
        padding-left: 15px;
        width: 130px;
        border-left: 1px solid rgba(50, 176, 238, 0.5);;
        border-top: none;
        border-right: none;
        border-bottom: none;
        background: none;
        font-size: 13px;
        color: #c3c6c7;
        white-space: nowrap;
        opacity: 0.5;
      }
    }

    .nav-menu {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 6px;
      list-style: none;
      text-align: center;
      height: 70px;
      .nav-item {
        cursor: pointer;


        .nav-links {
          position: relative;
          color: #fff;
          font-size: 13px;
          line-height: 70px;
          text-decoration: none;
          padding: 0 13px 0 13px;

          &:before {
            position: absolute;
            top: -10;
            content: "";
            height: 2px;
            background-color: #32b0ee;
            transition: all 0.5s;
            width: 0;
          }

          &:hover:before {
            width: 40px;
          }

          @media screen and (max-width: 960px) {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
            color: #FFFFFF;
            &:hover:before {
              width: 48px;
            }
            .nav-links:nth-child(5) {
              padding: 0 13px 0 13px;
            }
          }
        }


      }
      .nav-item:nth-child(5) {
        padding: 0 0 0 13px;
      }
      .fa-times {
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        visibility: hidden;
      }
      @media screen and (max-width: 960px) {
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 10;
        width: 30rem;
        background: #242222;
        padding: 10px;
        height: 100%;
        transform: translateX(-30rem);
        //transform: translateX(0rem);
        transition: 0.5s all;

        .fa-times{
          position: absolute;
          right: 5%;
          top: 2%;
          visibility: visible;
        }

      }

    }
    .open{
      transform: translateX(0rem);
    }
    .navbar__hamburger {
      position: absolute;
      right: 3%;
      visibility: hidden;
      cursor: pointer;
      .fas {
        color: #FFFFFF;
        font-size: 25px;
      }
    }


    @media screen and (max-width: 960px) {
      .navbar__hamburger {
        visibility: visible;
      }
      .fa-times{
        visibility: visible;
      }
    }
  }

}


@media #{$info-phone} {

}

//  @media screen and (max-width: 768px) {
//
//    .navbar {
//      .navbar-left_hamburgur {
//        visibility: visible;
//      }
//      .nav-menu {
//        visibility: hidden;
//      }
//    }
//  }
//}



