.line-title {
  width: 100%;
  position: relative;
  z-index: 5;
  margin-bottom: 30px;

  img {
    margin: 20px auto;
    display: block;
  }

  &:before {
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background: #c3c6c7;
    transform: translateY(-50%);
    transform: translateX(-15%);
    top: 50%;
    right: 52%;
  }

  &:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background: #c3c6c7;
    transform: translateY(-50%);
    transform: translateX(15%);
    top: 50%;
    left: 52%;
  }

}

#btnTotop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  line-height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #0eb493;
  text-align: center;
  cursor: pointer;
  animation: play 2s ease infinite;
  display: none;
  z-index: 50;

  .fas {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
  }
}