.somefun {
  background-image: url("../img/somefun1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(16, 39, 56, 0.8);
  }

  .somefun__title {
    position: relative;
    padding: 75px 0 20px 0;
    z-index: 9;

    h2 {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 800;
      color: #0eb493;
    }

    p {
      font-size: 0.8rem;
      font-weight: 600;
      text-align: center;
      padding: 0 10%;
    }
  }

  .somefun__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 130px;
    z-index: 9;
    padding: 0 10%;

    .content--item {
      z-index: 9;
      text-align: center;

      .fas {
        color: #FFFFFF;
        padding: 40px;
        border: 1px solid #c3c6c7;
        border-radius: 50%;
        font-size: 2rem;
      }

      h2 {
        padding-top: 30px;
        padding-bottom: 10px;
        color: #fff;
        font-size: 3rem;
        font-weight: 600;
      }

      p {
        color: #c3c6c7;
        font-size: 1rem;
        font-weight: 300;
        padding: 0;
      }
    }
  }
  @media screen and (max-width: 1050px) {
    .somefun__content {
      grid-gap: 90px;
    }
  }
  @media screen and (max-width: 870px) {
    .somefun__content {
      grid-gap: 50px;
    }
  }
  @media screen and (max-width: 770px) {

      height: 700px;
      .somefun__content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin: 0 80px;
      }
    }
  @media screen and (max-width: 550px) {
    .somefun__content {
      padding: 0;
    }
  }
  @media screen and (max-width: 400px) {
    .somefun__content {

      margin: 0;
    }
  }


}