.some-fun {
  background-image: url("../img/somefun1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(16, 39, 56, 0.8);
  }

  .some-fun__title {
    position: relative;
    h2 {
      text-align: center;
      font-size:28px;
      font-weight: 800;
      color: #0eb493;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin: 0 20%;
      opacity: 0.8;
    }
  }

  .some-fun__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 110px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    .content-item {
      text-align: center;
      z-index: 9;
      .fas {
        color: #FFFFFF;
        padding: 40px;
        border: 1px solid #c3c6c7;
        border-radius: 50%;
        font-size: 32px;
      }

      h2 {
        padding-top: 30px;
        padding-bottom: 10px;
        color: #fff;
        font-size: 60px;
        font-weight: 500;
      }
      p {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        padding: 0;
        white-space: nowrap;
        opacity: 0.8;
      }
    }
    @media #{$info-phone}{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    @media #{ $info-phone-2}{
      padding: 0;
    }
    @media #{ $info-phone-4} {
      margin: 0;
    }
  }
  @media #{$info-phone} {
    height: 800px;
  }


}