.teams {
  padding: 70px 0;
  .teams__title {
    padding: 0px 0 60px 0;

    h2 {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 800;
      color: #0eb493;
    }

    p {
      font-size: 0.8rem;
      font-weight: 600;
      text-align: center;
      padding: 0 10%;
    }
  }

  .teams__content {
    //display: grid;
    //grid-template-columns: repeat(4, 1fr);
    //grid-gap: 30px;
    //margin-right: 30px;
    padding: 0 10%;
    text-align: center;

    .teams__content--item {
      margin-right: 15px;
      .item--wrap {
        position: relative;

        .item__detail {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(29, 177, 147, 0.9);
          transition: all 0.5s;
          opacity: 0;
          padding: 30px 20px;

          h2 {
            font-weight: bolder;
            font-size: 0.8rem;
            color: #FFFFFF;
          }

          p {
            margin: 20px 0 50px 0;
            font-size: 0.8rem;
            color: #FFFFFF;
          }

          .detail-social {
            display: flex;
            justify-content: center;
            .fab {
              background: rgba(18, 128, 106, 0.9);
              color: #FFFFFF;
              line-height: 40px;
              margin: 0 2px;
              width: 40px;
            }
          }
        }
      }

      .item__title {
        h2 {
          margin-top: 20px;
          font-size: 1rem;
          font-weight: bolder;
        }

        p {
          padding-top: 5px;
          font-size: 0.6rem;
        }
      }

      &:hover .item--wrap .item__detail {
        opacity: 1;
      }
    }
    .owl-nav{
      display: none;
    }
    .owl-dots{
      margin-top: 50px;
      text-align: center;
      .owl-dot{
        display: block;
        height: 8px;
        width: 8px;
        display: inline-block;
        background: #c3c6c7;
        border-radius: 50%;
        border: 1px solid #c3c6c7;
        margin-right: 4px;
        &:focus {
          outline: none;
        }
      }
      .owl-dot.active{
        background: #000000;
      }
    }
  }

  @media #{$info-phone} {

  }
  @media screen and (max-width: 992px) {
    .teams__content {
      .teams__content--item {
        .item--wrap {
          img {
            //display: block;
            width: 100%;
          }

          .item__detail {
            padding:  10px;

            h2 {
              color: #FFFFFF;
            }

            p {
              margin: 10px 0 10px 0;
            }

            .detail-social {
              .fab {
                line-height: 25px;
                width: 25px;
              }
            }
          }
        }

        .item__title {

        }
      }
    }

  }
  @media screen and (max-width: 790px) {
    .teams__content {
      .teams__content--item{
        .item--wrap {
          .item__detail {
            padding: 70px 20px;

            h2 {
              font-size: 1rem;
            }

            p {
              margin: 20px 0 30px 0;
              font-size: 0.8rem;
            }

            .detail-social {
              .fab {
                line-height: 40px;
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px){
    .teams__content {


      .teams__content--item {
        .item--wrap {
          .item__detail {
            padding: 15px 10px;

            h2 {
              font-size: 1rem;
            }

            p {
              margin: 10px 0 20px 0;
              font-size: 0.8rem;
            }

            .detail-social {
              .fab {
                line-height: 25px;
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 360px){
    .teams__content {


      .teams__content--item {
        .item--wrap {
          .item__detail {
            padding: 8px;
            h2 {
              font-size: 0.8rem;
            }
            p {
              margin: 6px 0 6px 0;
              font-size: 0.6rem;
            }
            .detail-social {
              .fab {
                font-size: 0.8rem;
                line-height: 25px;
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}