.works {
  padding: 80px 0 30px 0;

  .works__title {

    padding: 0 0 55px 0;

    h2 {
      text-align: center;
      font-size: 28px;
      font-weight: 800;
      color: #0eb493;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      padding: 0 20%;
    }
  }

  .works__tab {

    .navtab {
      display: flex;
      justify-content: center;
      //grid-template-columns: repeat(5, auto);
      //grid-gap: 35px;
      list-style: none;

      margin: 0 auto 35px auto;
      width: 75%;
      @media screen and (max-width: 990px) {
        width: 100%;
      }

      .navtab-item {
        padding: 5px 20px;
        border: inherit;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;

        .navtab--links {
          color: #0b0b0b;
          font-weight: 700;
          font-size: 14px;
          white-space: nowrap;
          cursor: pointer;
        }

        @media screen and (max-width: 990px) {
          padding: 10px 15px;
        }
        @media screen and (max-width: 768px) {
          padding: 10px 15px;
        }
        @media screen and (max-width: 576px) {
          padding: 5px;
        }


      }

      .navtab-item.active {
        .navtab--links {
          color: #fff;
          font-weight: 700;
          background: #0eb493;
          padding: 10px 20px;
          border-radius: 10px;
        }

        @media screen and (max-width: 1220px) {
          padding: 5px;
        }
      }

      @media screen and (max-width: 1220px) {
        width: 45%;
      }
      @media screen and (max-width: 992px) {
        width: 70%;
      }
      @media screen and (max-width: 768px) {
        grid-gap: 8px;
        width: 70%;
      }
      @media screen and (max-width: 576px) {
        grid-gap: 5px;
        width: 90%;
      }
    }

    .works__tab--content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .content__item {
        position: relative;

        img {
          width: 100%;
          display: block;
        }

        .content--detail {
          position: absolute;
          cursor: pointer;
          background: rgba(29, 177, 147, 0.9);
          width: 100%;
          height: 100%;
          text-align: center;
          padding: 50px 25px 50px 25px;
          left: 0;
          top: 0;
          opacity: 0;
          transition: all 0.5s;
          @media screen and (max-width: 1028px) {
            padding: 25px 25px 25px 25px;
          }
          @media screen and (max-width: 890px) {
            padding: 10px;
          }
          @media screen and (max-width: 768px) {
            padding: 50px 25px 0 25px;
          }
          @media screen and (max-width: 576px) {
            padding: 30px 20px 0 20px;
          }

          .fas {
            padding: 10px;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 50%;
            color: #FFFFFF;
            margin-bottom: 20px;
            @media screen and (max-width: 890px) {
              padding: 5px;
            }
            @media screen and (max-width: 768px) {
              padding: 10px;
            }
          }

          h2 {
            font-size: 18px;
            color: #FFFFFF;
            font-weight: bolder;
            @media screen and (max-width: 890px) {
              font-size: 16px;
            }
            @media screen and (max-width: 768px) {
              font-size: 18px;
            }
          }

          p {
            color: #FFFFFF;
            font-size: 14px;
            padding: 5px;
            @media screen and (max-width: 890px) {
              font-size: 13px;
            }
            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
          }


          //@media screen and (max-width: 576px) {
          //  padding: 30px 20px 0 20px;
          //}
        }

        &:hover .content--detail {
          opacity: 1;
        }
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 11; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }

      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
    }

  }

  @media #{$info-phone} {

  }

}